[Desktop Entry]
Encoding=UTF-8
Name=CMPCO
Comment=CMPCO P2P Cryptocurrency
Comment[fr]=CMPCO, monnaie virtuelle cryptographique pair à pair
Comment[tr]=CMPCO, eşten eşe kriptografik sanal para birimi
Exec=cmpco-qt %u
Terminal=false
Type=Application
Icon=cmpco128
MimeType=x-scheme-handler/cmpco;
Categories=Office;Finance;
